@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
div, h2 {
    font-family: 'Righteous', cursive;
    font-weight: 200;
}

h1 {
    background: linear-gradient(to left, rgb(226, 0, 0) 0%, #333);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

input{
    background: transparent;
    color: white;
}
